@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background: rgb(35, 38, 39);
  margin: 0;
  padding: 0;
  color: #1b2947;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.6;
  max-width: 100%;
  overflow-x: hidden;
}

p.about-me {
  font-size: 1.2em;
}
p {
  margin: 0.5em 0;
}
.small {
  font-size: 0.8em;
}
p.small {
  margin: 0;
}
nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: black;
}

.directory {
  color: #4cc9f0ff;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 40px;
  margin: 0 10px;
}
.directory span {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
.directory span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  background: #e96f92;
  transform: scale(1, 0) translate3d(0, -10px, 0);
  transition: transform 80ms ease-in;
}
.directory:first-child {
  margin-left: 0;
}
.directory:last-child {
  margin-right: 0;
}
.directory:hover span {
  transition: color 80ms;
  color: #e96f92;
}
.directory:hover span::after {
  transition: transform 80ms ease-out;
  transform: scale(1, 1) translate3d(0, 0, 0);
}
.directory:active span {
  transition: none;
  color: #54fad4;
}
.directory:active span::after {
  background-color: #54fad4;
  transition: none;
  transform: scale(1, 1.2) translate3d(0, 0, 0);
}
.contact-wrapper {
  text-align: center;
  padding-bottom: 3em;
}
.header {
  position: relative;
  min-height: 300px;
  height: 75vh;
  margin-bottom: 90px;
}
.header-div-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-div-2 {
  position: relative;
  width: 100%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  height: 150px;
  overflow: hidden;
  pointer-events: none;
}

section {
  padding-bottom: 70px;
  margin-bottom: 50px;
  position: relative;
}
section::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -150px;
  background: rgba(117, 81, 125, 0.15);
}
h2 {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 30px;
}
h2::after {
  content: "";
  background: no-repeat;
  display: block;
  width: 67px;
  height: 17px;
  margin: 18px auto 0 auto;
}
h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}
.emboss-name {
  position: relative;
  font-size: 60px;
  font-family: Roboto, sans-serif;
  letter-spacing: 5px;
  color: whitesmoke;
  text-shadow: 
  0px 0px 1px gray,
  0px 1px 1px gray,
  0px 2px 1px gray, 

  1px 1px 1px gray,
  1px 2px 1px gray,
  1px 3px 1px gray, 

  2px 2px 1px gray,
  2px 3px 1px gray,
  2px 4px 1px gray,

  /* soften */
  1px 10px 30px black,
  1px 10px 70px black,
  0px 5px 5px black,
/* left */
  -5px 5px 20px black,
/* right */
  5px 5px 20px black,
/* glow */
  1px 1px 120px white;
}

.emboss-subtitle {
  position: relative;
  font-size: 60px;
  font-family: Roboto, sans-serif;
  letter-spacing: 5px;
  color: whitesmoke;
  text-shadow: 
  0px 0px 1px gray,
  0px 1px 1px gray,
  0px 2px 1px gray, 

  1px 1px 1px gray,
  1px 2px 1px gray,
  1px 3px 1px gray, 

  2px 2px 1px gray,
  2px 3px 1px gray,
  2px 4px 1px gray,

  /* soften */
  1px 10px 30px black,
  1px 10px 70px black,
  0px 5px 5px black,
/* left */
  -5px 5px 20px black,
/* right */
  5px 5px 20px black,
/* glow */
  1px 1px 120px white;
}
.emboss-name::after {
  content: "Nikolas Goetzke";
  /* content: "Aspiring Web Developer"; */
  font-size: 60px;
  letter-spacing: 5px;
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0px 0px 100px rgba(11, 124, 199, 0.5);
  animation: cycle linear 10s infinite;
}

.emboss-subtitle::after {
  content: "Aspiring Web Developer";
  /* content: "Aspiring Web Developer"; */
  font-size: 60px;
  letter-spacing: 5px;
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0px 0px 100px rgba(11, 124, 199, 0.5);
  animation: cycle linear 10s infinite;
}

@keyframes cycle {
  0% { text-shadow: 0px 0px 100px rgb(11, 124, 199);}
  20% { text-shadow: 0px 0px 100px rgb(199, 11, 183);}
  40% { text-shadow: 0px 0px 100px rgb(42, 199, 11);}
  60% { text-shadow: 0px 0px 100px rgb(199, 11, 11);}
  80% { text-shadow: 0px 0px 100px rgb(199, 171, 11);}
}

.main-section {
  width: 700px;
  margin: 0 auto;
}
.portfolio {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  padding-top: 20px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-size: 0;
}
.project:last-child {
  margin-bottom: 30px;
}
.project-name {
  line-height: 1.2;
}
.project-details {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
  color: #75517d;
  font-weight: normal;
}
.project-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
    font-size: 20px;
}
.project-description {
  margin-top: 1em;
  margin-bottom: 1.2em;
}
.image {
  display: flex;
  border: 6px solid #fff;
  border-radius: 2px;
  width: 400px;
  height: 300px;
  background: rgba(117, 81, 125, 0.1);
  margin-right: -250px;
  margin-left: 25px;
  position: relative;
  box-shadow: 1px 4px 25px rgba(117, 81, 125, 0.15);
}
.image img {
  width: 100%;
  height: 100%;
}

.button {
  display: inline-block;
  background: #f72585ff;
  font-size: 0.85em;
  padding: 10px 20px;
  margin-bottom: 0.5em;
  color: #4cc9f0ff;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 7px 20px rgba(117, 81, 125, 0.2);
  transition: background 120ms, color 120ms, transform 20ms;
}
.button:hover {
  background: #1b2947;
  color: #f72585ff;
}
.button:active {
  background: #54fad4;
  color: #1b2947;
  transition: none;
}
.button:first-child {
  margin-right: 10px;
}
.project:nth-child(odd) .j {
  left: 50%;
  text-align: left;
  padding-right: 0;
  padding-left: 25px;
}
.project:nth-child(odd) .image {
  left: -50%;
  margin-left: -85px;
}


.email {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto 40px auto;
  font-size: 30px;
}

.social-media {
  margin-top: 5px;
}

.hover-effect {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  line-height: 2;
  color: #1b2947;
  background: linear-gradient(
    180deg,
    transparent 94%,
    #f72585ff 94%,
    #f72585ff 100%
  );
  background-repeat: repeat-x;
  background-position: 0 10px;
  transition: background-position 80ms ease-in, color 80ms;
}
.hover-effect strong {
  color: #f72585ff;
  transition: color 80ms;
}
.hover-effect:hover strong {
  color: #1b2947;
}
.hover-effect:hover {
  background-position: 0 0;
  transition: background-position 80ms ease-out, color 80ms;
}

  .directory {
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
  }
  body {
    font-size: 16px;
  }
  section {
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .header {
    height: 75vh;
    margin-bottom: 60px;
  }
  .title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25vh 0;
  }
  .main-section {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 35px;
    line-height: 1;
    padding-top: 30px;
  }
  h2::after {
    margin-top: 18px;
    transform: scale(0.8, 0.8);
  }

  .my-name {
    letter-spacing: 0;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
  }
  .my-name-wrapper {
    display: flex;
    justify-content: center;
  }
  .subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
    text-transform: none;
    font-size: 0.7em;
  }

  .email {
    font-size: 18px;
    margin: 10px 0 25px 0;
  }
  .project:nth-child(n) {
    position: relative;
    padding-top: 340px;
    margin-bottom: 100px;
    padding-top: 260px;
    margin-bottom: 60px;
  }
  .project:nth-child(n):last-child {
    margin-bottom: 20px;
  }
  .project:nth-child(n) .j,
  .project:nth-child(n) .image {
    display: block;
    margin: 0;
    left: auto;
    right: auto;
    padding: 0;
  }
  .project:nth-child(n) .j {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  .project:nth-child(n) .image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    margin-left: -156px;
    height: 225px;
  }
}
