:root {
  --bg-color: #fff;
  --secondary-color: #333;
  --dark: #000;
  --light: #fff;
}


:after,
:before {
  border-color: var(--color-gray-200);
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif !important;
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pacifico", sans-serif;
  font-weight: 600;
  color: var(--secondary-color);
}

.lg-font {
  font-size: 1.2rem !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid #b8c4c2;
}

.navbar-brand {
  font-size: 1.5rem;
  position: relative;
  color: var(--secondary-color) !important;
}

.navbar-brand:after {
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
  width: 100%;
}

.navbar-brand:hover:after {
  background-color: currentColor;
  transform: scaleX(1);
}

.nav-item {
  text-align: center;

}

.nav-link {
  color: var(--secondary-color) !important;
}

.navbar a {
  color: var(--secondary-color);
  text-decoration: none;
  margin-right: 1rem;
}

.custom-navbar-toggler-icon i {
  color: var(--secondary-color);
  padding: 0;
}


.hero-text {
  color: var(--secondary-color);
}

.dark-mode {
  --primary-color: #014083;
  --secondary-color: #fff;
  --dark: #fff;
  --light: #000;
  --bg-color: #014083;
}

/* The button toggle for dark mode uses JavaScript to toggle the dark-mode class on the :root element. The CSS uses the var function to define the theme colors, and the .dark-mode class changes the value of these variables to create the dark mode theme. */



.hero {
  padding: 4rem 2rem;
  background-color: var(--bg-color);
}

.social-proof {
  padding: 0 2rem;
  background-color: var(--bg-color);
}

.social-proof h2,
.social-proof h5 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.social-proof p {
  color: var(--secondary-color);
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* Portfolio section */

.portfolio {
  padding: 0 2rem;
  background-color: var(--bg-color);
}

.portfolio h2 {
  font-size: 2.5rem;
}

.portfolio h2+p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.portfolio-example h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.portfolio-example p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.portfolio-item {
  width: calc(33.33% - 20px);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px var(--secondary-color),
    0 6px 6px var(--secondary-color);
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-example img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.portfolio-example h5 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

.portfolio-example .btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 20px 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.portfolio-item h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.portfolio-item p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.portfolio-item .btn {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  margin-right: 1rem;
}

.portfolio-item .btn:hover {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.footer {
  background-color: var(--bg-color);
  padding: 2rem;
  border-top: 1px solid #b8bfc4;
  ;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer ul li a {
  color: var(--secondary-color);
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 1.5rem;
}

.footer p {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.footer .copyright {
  font-size: 1.2rem;
}

#btn-primary {
  border: 1px solid var(--dark);
  border-radius: 50px;
  background-color: #8AB7FF;
  transition: border-radius, 0.2s, linear;
  color: var(--dark);
}

#btn-primary:hover {
  border-radius: 15px;
}

#btn-secondary {
  border: 1px solid var(--dark);
  border-radius: 50px;
  background-color: #B0B6BA;
  transition: border-radius, 0.2s, linear;
  color: var(--dark);
}

#btn-secondary:hover {
  border-radius: 15px;
}

#navbar {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

#navbar-toggler {
  color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color);
  border-radius: .25rem;
  outline: none;
  width: 48px;
  height: 44px;
}


#dark-mode-toggle {
  background-color: transparent;
  border-radius: .25rem;
  cursor: pointer;
  width: 48px;
  height: 44px;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  outline: none;
  box-sizing: border-box;
}